# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100/
.Trashes/

# Zed
.zed/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
build/
dist/
*.egg-info/
pip-wheel-metadata/
.env
.env.*
!.env.example
